<div class="container-fluid main-about">
  <div class="row">
    <div class="col-12 col-md-12 mx-auto">
      <div class="row">
        <div class="col-12 col-lg-6 about-sec-left order-lg-0 order-1">
          <figure>
            <img src="images/aboutsvg.jpg" alt="aboutus" class="img-fluid" />
          </figure>
        </div>
        <div class="col-12 col-lg-6 about-sec-right order-lg-1 order-0 mb-5">
          <h1>start your business with us--</h1>
          <h2>register yourself for free <i class="fas fa-users"></i> </h2>
          <p class="main-hero-para">Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Rerum recusandae blanditiis maxime quae
            accusantium quos repellat libero obcaecati ratione consectetur id
            excepturi quidem, repellendus iste quasi, commodi illum incidunt et.
            Vel vero quas impedit.</p>
          <br />
          <h3>Get Early Access for You <i class="fas fa-bell"></i></h3>
          <div class="input-group mt-3 mb-5">
            <input
              type="text"
              class="rounded-pill w-75 p-2 w-lg-50 me-3 form-control-text"
              placeholder="Enter Your Email"
            />
            <div class="input-group-button">
              Subscribe
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>