<div class="container-fluid">
  <h1 class="text-center fw-bold text-black">Blogs--</h1>
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <div class="row">
        <div class="col-md-4 col-12 mx-auto">
          <div class="card blog-card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/4968391/pexels-photo-4968391.jpeg?crop=entropy&cs=srgb&dl=pexels-karolina-grabowska-4968391.jpg&fit=crop&fm=jpg&h=853&w=1280" class="card-img-top" alt="developer" />
            <div class="card-body" style="height: 10rem;">
              <h5 class="card-title">Training</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up.</p>
              <a href="#" class="btn btn-style">View..</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 mx-auto">
          <div class="card blog-card card-two" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/3861972/pexels-photo-3861972.jpeg?crop=entropy&cs=srgb&dl=pexels-thisisengineering-3861972.jpg&fit=crop&fm=jpg&h=853&w=1280" class="card-img-top" alt="developer" />
            <div class="card-body" style="height: 10rem;">
              <h5 class="card-title">Developers</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up.</p>
              <a href="#" class="btn btn-style-border">View..</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 mx-auto">
          <div class="card blog-card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/50987/money-card-business-credit-card-50987.jpeg?crop=entropy&cs=srgb&dl=pexels-pixabay-50987.jpg&fit=crop&fm=jpg&h=853&w=1280" class="card-img-top" alt="developer" />
            <div class="card-body" style="height: 10rem;">
              <h5 class="card-title">Online Card Payments</h5>
              <p class="card-text">Some quick example text to build on the card
                title and make up.</p>
              <a href="#" class="btn btn-style">View..</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>