<div class="container-fluid mt-4 contact-bg">
  <div class="row">
    <h1 class="text-center fw-bold mt-4">Contact Us &rarr; </h1>
    <div class="col-12 col-md-10 mx-auto contact-sec">
      <div class="row">
        <div class="col-12 col-lg-5 mx-auto contact-left-side">
          <form action="/contact" method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><i
                  class="far fa-user px-1"
                ></i>Name</label>
              <input
                type="text"
                name="name"
                placeholder="Sanjeet"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><i
                  class="fas fa-envelope px-1"
                ></i>Email-ID</label>
              <input
                type="email"
                name="email"
                placeholder="someone@gmail.com"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text text-black fw-bold">We'll never share your email
                with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><i
                  class="fas fa-phone-alt px-1"
                ></i>Phone</label>
              <input
                type="number"
                name="phone"
                placeholder="+91"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><i
                  class="fas fa-map-marker-alt px-1"
                ></i>Address</label>
              <input
                type="text"
                name="address"
                placeholder="Patna"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">
                <i class="fas fa-lock px-1"></i>Password</label>
              <input
                type="password"
                name="password"
                placeholder="******"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-style w-100">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>