<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-10 mx-auto">
        <div class="row">
          <div class="col-6 col-lg-3">
            <h2>Company</h2>
            <ul>
              <li>
                <p>
                  <a href="/about">About Us</a>
                </p>
              </li>
              <li>
                <a href="/contact">Contact Us</a>
              </li>
              <li>
                <a href="/">Terms & Conditions</a>
              </li>
              <li>
                <a href="/">Disclaimer</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <h2>Support</h2>
            <ul>
              <li>
                <a href="/">Privacy Policy</a>
              </li>
              <li>
                <a href="/">Manage Accounts</a>
              </li>
              <li>
                <a href="/">FAQ's</a>
              </li>
              <li>
                <a href="/">Pending Payments</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <h2>Services</h2>
            <ul>
              <li>
                <a href="/">Request</a>
              </li>
              <li>
                <a href="/">Helpline</a>
              </li>
              <li>
                <a href="/">Customer Care</a>
              </li>
              <li>
                <a href="/">Manage</a>
              </li>
            </ul>
          </div>
          <div class="col-6 col-lg-3">
            <h2>Follow Us</h2>
            <div class="row">
              <div class="col-3 mx-auto">
                <a
                  href="https://www.facebook.com/krsanjeetcod7"
                  target="_sanjeet"
                >
                  <i class="fab fa-facebook-f fontawesome-style"></i>
                </a>
              </div>
              <div class="col-3 mx-auto">
                <a
                  href="https://www.instagram.com/realsanjeet_singh/"
                  target="_sanjeet"
                >
                  <i class="fab fa-instagram fontawesome-style"></i>
                </a>
              </div>
              <div class="col-3 mx-auto">
                <a href="https://www.youtube.com/" target="_sanjeet">
                  <i class="fab fa-youtube fontawesome-style"></i>
                </a>
              </div>
              <div class="col-3 mx-auto px-4">
                <a
                  href="https://www.linkedin.com/in/sanjeet-kumar-67a58921b/"
                  target="_sanjeet"
                >
                  <i class="fab fa-linkedin fontawesome-style"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="mt-3">
          <p class="main-hero-para text-center text-white fw-bold w-100">Copyright &copy; 2021
            Express Solutions &rarr; . All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>