<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-12 mx-auto">
      <div class="row">
        <div class="col-12 col-lg-6 hero-left-side">
          <h1 class="hero-text">welcome to express framework</h1>
          <br />
          <h2>build your webiste and applications-- <i class="fas fa-mobile fa-2x"></i> </h2>
          <p>grow <span class="span-text">your business with us &rarr;</span></p>
          <p class="main-hero-para">Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Adipisci consectetur placeat debitis, pariatur
            quisquam sint temporibus provident, quas explicabo tenetur eaque
            numquam nam.</p>
          <button class="btn-style w-25 mx-3">Login</button>
          <button class="btn-style-border w-25">Sign Up</button>
        </div>
        <div class="col-12 col-lg-6 hero-right-side">
          <figure>
            <img src="images/dev.webp" alt="heroimg" class="img-fluid" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>