<div class="container-fluid service-div">
  <div class="row">
    <h1 class="text-center fw-bold mt-4">Our Services &rarr; </h1>
    <div class="col-12 col-md-12 mx-auto service-sec">
      <div class="row">
        <div class="col-12 col-lg-4 col-xxl-3 service-left-side">
          <div class="card my-3">
            <div class="card card-bg">
              <div class="card-body text-center">
                <h2>Customer Support--</h2>
                <i class="fas fa-user fa-4x mb-3"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur aliquid</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xxl-3 service-left-side">
          <div class="card my-3">
            <div class="card card-bg">
              <div class="card-body text-center">
                <h2>Web Hosting--</h2>
                <i class="fas fa-server fa-4x mb-3"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur aliquid</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xxl-3 service-left-side">
          <div class="card my-3">
            <div class="card card-bg">
              <div class="card-body text-center">
                <h2>Cloud DataBase--</h2>
                <i class="fas fa-cloud-upload-alt fa-4x mb-3"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur aliquid</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xxl-3 service-left-side">
          <div class="card my-3">
            <div class="card card-bg">
              <div class="card-body text-center">
                <h2>Manage Settings--</h2>
                <i class="fas fa-cogs fa-4x mb-3"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur aliquid</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xxl-3 service-left-side">
          <div class="card my-3">
            <div class="card card-bg">
              <div class="card-body text-center">
                <h2>Tasks--</h2>
                <i class="fas fa-tasks fa-4x mb-3"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur aliquid</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 col-xxl-3 service-left-side">
          <div class="card my-3">
            <div class="card card-bg">
              <div class="card-body text-center">
                <h2>Android App--</h2>
                <i class="fab fa-android fa-4x mb-3"></i>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Pariatur aliquid</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>